.button {
  text-decoration: none;
  display: inline-block;
  color: black;
  height: 4rem;
  width: 13rem;
  background-color: hotpink;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  line-height: 62px;
  border-radius: 0.3rem;
}

.button:hover {
  background-color: aliceblue;
  color: black;
}

.button:active {
  background-color: black;
  color: aliceblue;
}
