.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 1rem;
}

.formContainer {
  width: 50%;
  padding: 1rem;
}

.formControl {
  display: flex;
  flex-direction: column;
}

.infoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.infoSection input {
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 5px;
  background-color: aliceblue;
}

.formControl textarea {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 5px;
}

.terms {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.terms input {
  margin-right: 0.5rem;
}

.button {
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  color: #202020;
  background-color: hotpink;
  font-family: 'KoHo', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  width: 10rem;
}

.button:hover {
  color: #202020;
  background-color: aliceblue;
}

.button:active {
  color: aliceblue;
  background-color: #333;
}

@media screen and (max-width: 1024px) {
  .formContainer {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .infoSection {
    display: flex;
    flex-direction: column;
  }
}
