.featureContainer {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageFeature {
  display: flex;
}

.imageContainer {
  width: 50%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imageTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1.5rem;
}

.imageTextContainer p {
  text-align: center;
  font-size: 2rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 2rem;
}

.listContainer h1 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  .imageFeature {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
  }

  .imageTextContainer {
    width: 100%;
  }

  .listContainer {
    padding: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .imageTextContainer p {
    line-height: 1.3;
    font-size: 1.5rem;
  }
}
