.container {
  font-size: 2rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}

.link {
  text-decoration: none;
  color: aliceblue;
}

.link:hover {
  color: hotpink;
}

.link:active {
  color: #333;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    font-size: 1rem;
  }
}
